.App {
  text-align: center;
}

.div-rgb{
  width: 60%;
  margin: 16px 16px;
  border: 8px solid #ccc;
  box-shadow: 0 8px 18px #bbd;
  padding: 16px;
  text-align: center;
  display: inline-block;

}
